﻿
@{
    ViewBag.Title = "GoogleMapAPI";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title></title>

    <style type="text/css">
        #map-canvas {
            height: 400px;
            width: 600px;
            margin-right: 20px;
        }

        .fixed-panel {
            min-height: 400px;
            max-height: 400px;
            overflow-y: scroll;
            min-width: 600px;
            max-width: 600px;
            overflow-x: scroll;
        }

        #logo {
            margin-top: 25px;
            margin-bottom: 50px;
        }

        #intro {
            text-align: center;
            font-size: large;
            color: white;
        }

        body {
            background-image: url('../Pics/road.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: white;
        }

        .navbar {
            background: none;
            border: none;
        }

            .navbar .nav > li > a {
                color: white;
                font-size: large;
                margin-top: 15px;
                font-family: 'Comic Sans MS';
            }
    </style>

    <script type="text/javascript" src="http://www.google.com/jsapi?autoload={'modules':[{name:'maps',version:3,other_params:''}]}"></script>

    <script type="text/javascript">
        var directionsDisplay;
        var directionsService = new google.maps.DirectionsService();
        var map;

        function calcRoute(st, ft) {

            var start = st;
            var end = ft;

            var request = {
                origin: start,
                destination: end,
                travelMode: google.maps.TravelMode.DRIVING
            };
            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                }
            });
        }

        var geocoder;
        var map;
        var infowindow = new google.maps.InfoWindow();
        var marker;
        function init() {
            geocoder = new google.maps.Geocoder();
            directionsDisplay = new google.maps.DirectionsRenderer();

            var mapDiv = document.getElementById('map-canvas');
            var mapOptions = new google.maps.Map(mapDiv, {
                center: new google.maps.LatLng(44.848452, -123.233989),
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            directionsDisplay.setMap(map);

            google.maps.event.addListener(map, 'click', function (event) {
                placeMarker(event.latLng);
            });

            function placeMarker(location) {
                var marker = new google.maps.Marker({
                    position: location,
                    map: map,
                });
                var infowindow = new google.maps.InfoWindow({
                    content: 'Latitude: ' + location.lat() +
                    '<br>Longitude: ' + location.lng()
                });
                infowindow.open(map, marker);
            }
            google.maps.event.addListener(marker, 'click', function (e) {
                infowindow.open(map, marker);
            });

        }

        function partialViewUpdate() {

        }

        function codeAddress() {
            var address = document.getElementById("address").value;
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    alert("Geocode was not successful for the following reason: " + status);
                }
            });
        }

        google.maps.event.addDomListener(window, 'load', init);

        
    </script>
  
</head>
<body>
    <div id="map-canvas"></div>
    <div>
        <input id="address" type="textbox" value="Salem, OR">
        <input type="button" value="GoTo and Mark" onclick="codeAddress()">
    </div>
</body>
</html>





