﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Google Maps API Example</h1>
    <p class="lead">This is a sample of how one can use ASP.NET to build a Web applications using HTML, CSS and JavaScript to work with Google Maps API.</p>
    <p>Click on the Map button above to view the map.</p>
</div>

